.list {
  /* display: flex; */
  width: 60%;
  margin: auto;
  /* justify-content: space-between; */
  /* margin: 5px; */
}
.div-with-button {
  margin-right: 10px !important;
}
.email-div {
  margin-right: 10px;
}
.edit-btn {
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  form {
    width: 50% !important;
  }
}
